<div class="container">
  <% breadcrumb :metaphors, @metaphors %>
  <%= breadcrumbs pretext: 'Você está aqui: ', separator: ' &rsaquo; ', semantic: true %>

  <p id="notice"><%= notice %></p>

  <h2>Listing Metaphors</h2>

  <div class="nav">
    <% if user_signed_in? %>
        <%= link_to 'New Metaphor', new_metaphor_path, class: 'btn flat-button remove-border blue-button white-font-color' %>
    <% end %>

    <%= form_tag(metaphors_path, method: 'get', class: 'navbar-form navbar-right', role: 'search', id: 'nav-search') do %>
        <div class="form-group">
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: 'form-control no-radius no-border', placeholder: 'busco por...' %>
            <span class="input-group-btn">
            <button class="btn btn-default no-radius no-border" type="submit">
              <i class="glyphicon glyphicon-search" style="font-size: 15px" aria-hidden="true"></i>
            </button>
          </span>
          </div><!-- /input-group -->
        </div>
    <% end %>
  </div>

  <table class="table-responsive table">
    <thead>
      <tr>
        <th></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @metaphors.each do |metaphor| %>
          <tr>
            <td><%= link_to metaphor.title, metaphor %></td>
            <% if user_signed_in? %>
                <td><%= link_to 'Edit', edit_metaphor_path(metaphor) %></td>
                <td><%= link_to 'Destroy', metaphor, method: :delete, data: {confirm: 'Are you sure?'} %></td>
            <% end %>
          </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pagination">
    <%= paginate @metaphors %>
  </div>
</div>