<div class="container">

  <p id="notice"><%= notice %></p>

  <a itemprop="url" href="<%= "http://#{request.host + url_for(:page => params[:page]) }" %>">
    <div itemprop="name">
      <h2>Listing Metaphors</h2>
    </div>
  </a>

  <% breadcrumb :metaphors, @metaphors %>
  <%= breadcrumbs pretext: 'Você está aqui: ', separator: ' &rsaquo; ', :semantic => true, :link_current => true %>

  <div class="nav">
    <%= form_tag(metaphors_path, method: 'get', class: 'pull-right form ui', role: 'search', id: 'nav-search') do %>
        <div class="ui icon input">
          <%= text_field_tag :search, params[:search], placeholder: 'busco por...' %>
          <i class="search icon"></i>
        </div>
    <% end %>
  </div>

  <table class="table-responsive table">
    <thead>
      <tr>
        <th></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @metaphors.each do |metaphor| %>
          <tr>
            <td><%= link_to metaphor.title, metaphor %></td>
          </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pagination">
    <%= paginate @metaphors %>
  </div>
</div>