<div class="container">
  <% breadcrumb :metaphor, @metaphor %>
  <%= breadcrumbs pretext: 'Você está aqui: ', separator: ' &rsaquo; ', semantic: true %>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @metaphor.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @metaphor.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= @metaphor.image %>
  </p>

  <% if user_signed_in? %>
      <%= link_to 'Edit', edit_metaphor_path(@metaphor) %> |
  <% end %>

  <%= link_to 'Back', metaphors_path %>
</div>