<div class="container">
  <% breadcrumb :metaphor, @metaphor %>
  <%= breadcrumbs pretext: 'Você está aqui: ', separator: ' &rsaquo; ', semantic: true %>

  <p id="notice"><%= notice %></p>

  <div class="col-md-4">
    <img itemprop='image' class='img-responsive img-thumbnail' alt='<%= @metaphor.title %>' title='<%= @metaphor.title %>' src='<%= @metaphor.image %>'/>
  </div>

  <div class="col-md-8">

    <h1 itemprop="name"><%= @metaphor.title %></h1>

    <p itemprop="description">
      <%= simple_format @metaphor.description %>
    </p>

    <% if user_signed_in? %>
        <%= link_to 'Edit', edit_metaphor_path(@metaphor) %> |
    <% end %>

    <%= link_to 'Back', metaphors_path %>

  </div>
</div>