<div class="container">

  <h1>Contato</h1>

  <% breadcrumb :contato %>
  <%= breadcrumbs pretext: 'Você está aqui: ', separator: ' &rsaquo; ', semantic: true %>

  <p>
    Se você tiver perguntas de negócios ou outras questões, por favor preencha o seguinte formulário para entrar em
    contato conosco. Obrigado.
  </p>

  <div class="row">
    <div class="col-lg-5">
      <%= form_for(@contact, url: enviar_path, :html => {:class => 'ui form', :id => ''}, :method => 'post') do |f| %>

          <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name, placeholder: 'Seu nome' %>
          </div>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, placeholder: 'Seu email' %>
          </div>

          <div class="field">
            <%= f.label :message %>
            <%= f.text_area :message, placeholder: 'Seu email' %>
          </div>

          <div class="form-group">
            <%= f.submit "Enviar Contato", class: 'btn flat-button remove-border blue-button white-font-color' %>
          </div>
      <% end %>

    </div>
  </div>
</div>