<div class="site-index">

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag('banner-1.jpg', :alt => 'Banner', class: 'img-responsive') %>
      </div>
      <div class="item">
        <%= image_tag('banner-2.jpg', :alt => 'Banner', class: 'img-responsive') %>
      </div>
      <div class="item">
        <%= image_tag('banner-3.jpg', :alt => 'Banner', class: 'img-responsive') %>
      </div>
    </div>
  </div>

  <div class="body-content">

    <div class="clearfix main-menu">
      <div class="col-lg-4">
        <div class="col-lg-12 text-center">
          <h2>Bibliografias</h2>

          <p>Confira nossa lista de sujestões.</p>
          <%= link_to 'veja mais', bibliographies_path, class: 'btn btn-default flat-button remove-border blue-button white-font-color' %>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-12 text-center">
          <h2>Ebooks</h2>

          <p>Nossos Ebooks</p>
          <%= link_to 'veja mais', ebooks_path, class: 'btn btn-default flat-button remove-border blue-button white-font-color' %>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-lg-12 text-center">
          <h2>Metaforas</h2>

          <p>Um arsenal de metaforas</p>
          <%= link_to 'veja mais', metaphors_path, class: 'btn btn-default flat-button remove-border blue-button white-font-color' %>
        </div>
      </div>
    </div>

  </div>
</div>
