<p id="notice"><%= notice %></p>

<h1>Listing Bibliographies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Slug</th>
      <th>Description</th>
      <th>Amazon afiliate link</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bibliographies.each do |bibliography| %>
      <tr>
        <td><%= bibliography.title %></td>
        <td><%= bibliography.slug %></td>
        <td><%= bibliography.description %></td>
        <td><%= bibliography.amazon_afiliate_link %></td>
        <td><%= bibliography.image %></td>
        <td><%= link_to 'Show', bibliography %></td>
        <td><%= link_to 'Edit', edit_bibliography_path(bibliography) %></td>
        <td><%= link_to 'Destroy', bibliography, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bibliography', new_bibliography_path %>
