<div class="container">

  <p id="notice"><%= notice %></p>

  <h2>Lista de Bibliografias</h2>

  <% breadcrumb :bibliographies, @bibliographies %>
  <%= breadcrumbs pretext: 'Você está aqui: ', separator: ' &rsaquo; ', semantic: true %>

  <div class="nav">
    <% if user_signed_in? %>
        <%= link_to 'New Bibliography', new_bibliography_path, class: 'btn flat-button remove-border blue-button white-font-color' %>
    <% end %>

    <%= form_tag(bibliographies_path, method: 'get', class: 'navbar-form navbar-right form ui', role: 'search', id: 'nav-search') do %>
        <div class="ui icon input">
          <%= text_field_tag :search, params[:search], placeholder: 'busco por...' %>
          <i class="search icon"></i>
        </div>
    <% end %>
  </div>

  <div class="clearfix">
    <% @bibliographies.each do |bibliography| %>
        <div>
          <div class="col-sm-3">
            <div class="img-thumbnail">
              <%= link_to image_tag(bibliography.image_url(:thumb), class: 'img-responsive', alt: bibliography.title), bibliography %>

              <% if user_signed_in? %>
                  <td><%= link_to 'Edit', edit_bibliography_path(bibliography) %></td>
                  <td><%= link_to 'Destroy', bibliography, method: :delete, data: {confirm: 'Are you sure?'} %></td>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>

  <div class="pagination">
    <%= paginate @bibliographies %>
  </div>

</div>
