<div class="container">

  <p id="notice"><%= notice %></p>

  <h2>Lista de Bibliografias</h2>

  <% breadcrumb :bibliographies, @bibliographies %>
  <%= breadcrumbs pretext: 'Você está aqui: ', separator: ' &rsaquo; ', semantic: true %>

  <div class="nav">
    <%= form_tag(bibliographies_path, method: 'get', class: 'pull-right form ui', role: 'search', id: 'nav-search') do %>
        <div class="ui icon input">
          <%= text_field_tag :search, params[:search], placeholder: 'busco por...' %>
          <i class="search icon"></i>
        </div>
    <% end %>
  </div>

  <div class="clearfix">
    <div class="ui divided items">
      <% @bibliographies.each do |bibliography| %>
          <div class="item">
            <div class="image">
              <%= image_tag(bibliography.image ? bibliography.image_url(:thumb) : 'empty-image.png', class: 'img-responsive', alt: bibliography.title) %>
            </div>
            <div class="content">
              <%= link_to bibliography.title, bibliography, class: 'header' %>

              <div class="meta">
                <span class="cinema"><%= bibliography.author %></span>
              </div>
              <div class="description">
                <p>
                  <%= simple_format truncate(bibliography.description, :length => 200) %>
                </p>
              </div>
              <div class="extra">
                <%= link_to bibliography, class: 'btn flat-button remove-border blue-button white-font-color' do %>
                    ver mais
                    <i class="right chevron icon"></i>
                <% end %>
                <!--<div class="ui label">Limited</div>-->
                <!--<div class="ui label"><i class="globe icon"></i> Additional Languages</div>-->
              </div>
            </div>
          </div>

      <% end %>
    </div>
  </div>

  <div class="pagination">
    <%= paginate @bibliographies %>
  </div>

</div>
