<div class="container" itemscope="http://schema.org/Product">

  <% breadcrumb :bibliography, @bibliography %>
  <%= breadcrumbs pretext: 'Você está aqui: ', separator: ' &rsaquo; ', semantic: true %>

  <p id="notice"><%= notice %></p>

  <div class="col-md-4">
    <img itemprop='image' class='img-responsive img-thumbnail' alt='<%= @bibliography.title %>' title='<%= @bibliography.title %>' src='<%= @bibliography.image %>'/>
  </div>

  <div class="col-md-8">

    <h1 itemprop="name"><%= @bibliography.title %></h1>

    <p itemprop="description">
      <%= simple_format @bibliography.description %>
    </p>

    <p>
      <%= @bibliography.year %>
    </p>
    <p>
      <%= @bibliography.author %>
    </p>
    <p>
      <%= @bibliography.pages %>
    </p>
    <p>
      <%= @bibliography.thickness %>
    </p>

    <% if @bibliography.amazon_afiliate_link != '' %>
        <div class="pull-right">
          <small>Compre aqui.</small>
          <br/>
          <%= link_to image_tag('amazon-button.png', :alt => 'Amazon Link', :style => 'height: 42px;'), @bibliography.amazon_afiliate_link, target: '_blank' %>
          <img src="http://ir-na.amazon-adsystem.com/e/ir?t=mapn-20&l=as2&o=1&a=8532304710" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
        </div>
    <% end %>

    <% if user_signed_in? %>
        <%= link_to 'Edit', edit_bibliography_path(@bibliography) %> |
    <% end %>

    <%= link_to 'Back', bibliographies_path %>
  </div>
</div>