<%= form_for(@ebook, :html => {:multipart => true}) do |f| %>

    <% if @ebook.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@ebook.errors.count, "error") %> prohibited this ebook from being saved:</h2>

          <ul>
            <% @ebook.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>
    <div>
      <%= image_tag @ebook.image_url(:thumb), class: 'img-responsive', alt: @ebook.title if @ebook.image? %>
    </div>

    <div class="field">
      <%= f.label :value %><br>
      <%= f.text_field :value %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
