<div class="container">
  <% breadcrumb :ebook, @ebook %>
  <%= breadcrumbs pretext: 'Você está aqui: ', separator: ' &rsaquo; ', semantic: true %>

  <p id="notice"><%= notice %></p>


  <div class="col-md-4">
    <img itemprop='image' class='img-responsive img-thumbnail' alt='<%= @ebook.title %>' title='<%= @ebook.title %>' src='<%= @ebook.image %>'/>
  </div>

  <div class="col-md-8">

    <h1 itemprop="name"><%= @ebook.title %></h1>

    <p itemprop="description">
      <%= simple_format @ebook.description %>
    </p>

    <p>
      <strong>Value:</strong>
      <%= @ebook.value %>
    </p>

    <% if @ebook.url %>
        <%= link_to 'Comprar', @ebook.url, class: 'btn btn-default' %>
    <% end %>

    <% if user_signed_in? %>
        <%= link_to 'Edit', edit_ebook_path(@ebook) %> |
    <% end %>

    <%= link_to 'Back', ebooks_path %>

  </div>
</div>