<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ebook.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ebook.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @ebook.image %>
</p>

<p>
  <strong>Value:</strong>
  <%= @ebook.value %>
</p>

<% if user_signed_in? %>
    <%= link_to 'Edit', edit_ebook_path(@ebook) %> |
<% end %>

<%= link_to 'Back', ebooks_path %>
